<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chimo!</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/myheader.css" />
    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      .card-container {
        margin: 0 auto;
        max-width: 80vw;
      }
      .row {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
      }
      .mycard p {
        font-weight: bolder;
        font-size: large;
      }
      .title {
        min-height: 60px;
        max-height: 60px;
        overflow: hidden;
      }
      .title:hover {
        overflow: scroll;
        overflow-x: hidden;
      }
      .mycard img {
        width: 100%;
        object-fit: cover;
      }
      .mycard .tag {
        background-color: #5b468b;
        color: #fff;
      }
    </style>
  </head>
  <body>

    <h1>這邊是來自W的編輯(取代了S的編輯)</h1>
    <h1>來自M的編輯</h1>
    <h1>來自M的編輯</h1>
    
    <div id="app">
      <div class="sticky-top"><my-header>        
      </my-header></div>
      <!-- 幻燈片bg -->
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide p-5"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/images/banner01.jpg"
              class="w-100 rounded"
              alt="banner01"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/banner02.jpg"
              class="w-100 rounded"
              alt="banner02"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/images/banner03.jpg"
              class="w-100 rounded"
              alt="banner03"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- 幻燈片end -->
      <!-- 熱門推薦 bg -->

      <div id="carouselExampleControls" class="card-container carousel slide">
        <h2 class="pb-3">熱門推薦</h2>
        <div class="carousel-inner" ref="carouselInner">
          <div
            v-for="(chunk,index) in chunks"
            :key="index"
            class="carousel-item"
            :class="{active:index===currentIndex}"
          >
            <div class="d-flex">
              <div
                v-for="card in chunk"
                :key="card.id"
                class="mycard col-3 ps-2 pe-2"
              >
                <img
                  :src="card.img"
                  alt="course-thumbnail "
                  class="pb-2 col-lg-3 img-fluid rounded"
                />
                <div class="prodct-info border-bottom">
                  <small class="tag p-1 rounded-1 fw-bolder">課程</small>
                  <p class="title pt-1">{{card.title}}</p>
                  <small>{{card.teacher}}</small>
                </div>
                <p class="price mt-2">NT${{card.price}}</p>
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
            v-on:click="prevSlide"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
            v-on:click="nextSlide"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- 熱門推薦 end -->
      <footer
        style="
          margin-top: 150px;
          height: 150px;
          background-color: #5b468b;
          display: grid;
          place-items: center;
        "
      >
        <img
          src="images/logo2_w.png"
          alt="logo"
          style="width: 300px; padding-top: 10px"
        />
        <small class="text-light">&copy; chimo!</small>
      </footer>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.global.js"></script>
    <script src="js/myheader.js"></script>

    <script>
      const { createApp, ref, computed } = Vue;

      const config = {
        setup() {
          const carouselInner = ref(null);
          const currentIndex = ref(0);

          const cards = ref([
            {
              id: 1,
              img: "images/thumbnail.jpg",
              title:
                "1.反映女孩子只需第一個東京一本，反映女孩子只需第一個東京一本，反映女孩子只需第一個東京一本，",
              teacher: "Mr.C",
              price: 1000,
            },
            {
              id: 2,
              img: "images/thumbnail.jpg",
              title: "2.犯罪不說大型，本週中學，丈夫",
              teacher: "Mr.C",
              price: 1000,
            },
            {
              id: 3,
              img: "images/thumbnail.jpg",
              title: "3.第一個東京一本，聯絡人",
              teacher: "Mr.C",
              price: 1000,
            },
            {
              id: 4,
              img: "images/thumbnail.jpg",
              title: "4.看看計劃笑容每年有的",
              teacher: "Mr.C",
              price: 1000,
            },
            {
              id: 5,
              img: "images/thumbnail.jpg",
              title: "5.程式開發者。",
              teacher: "Mr.C",
              price: 1000,
            },
            {
              id: 6,
              img: "images/thumbnail.jpg",
              title: "6.計劃AI有的笑容每年",
              teacher: "Mr.C",
              price: 1000,
            },
          ]);

          const chunks = computed(() => {
            const chunkSize = 4;
            const result = [];

            for (let i = 0; i < cards.value.length; i += chunkSize) {
              result.push(cards.value.slice(i, i + chunkSize));
            }
            return result;
          });
          const nextSlide = () => {
            if (currentIndex.value < chunks.value.length - 1) {
              currentIndex.value++;
            } else {
              currentIndex.value = 0;
            }
          };

          const prevSlide = () => {
            if (currentIndex.value > 0) {
              currentIndex.value--;
            } else {
              currentIndex.value = chunks.value.length - 1;
            }
          };

          return { chunks, currentIndex, nextSlide, prevSlide, carouselInner };
        },
      };

      const app = createApp(config);
      app.component("my-header", myHeader);
      app.mount("#app");
    </script>
  </body>
</html>
